<%= form_for @finca do |f| %>
	<p>Nombre:<%= f.text_field :nombre_finca, :required => true%></p>
	<p>Localizacion:<%= f.text_field :localizacion, :required => true %></p>
	<p>Clima:<%= f.text_field :clima, :required => true %></p>
	<p>Capacidad:<%= f.text_field :capacidad, :required => true %></p>
	<p>Informacion:<%= f.text_field :informacion, :required => true %></p>
	<p>Latitud:<%= f.text_field :lat, :required => true %></p>
	<p>Longitud:<%= f.text_field :lon, :required => true %></p>
	<p>Precio:<%= f.text_field :precio, :required => true %></p>
	<p>IdOwner:<%= f.text_field :idowner, :required => true %></p>
	<p>Owner:<%= f.text_field :owner, :required => true %></p>
	<br>

	<%= f.fields_for :images do |builder| %>
		<p>Image url:<%= builder.text_field :url, :required => true %></p>
	<% end %>

	<%= f.fields_for :rating do |builder| %>
		<%= builder.text_field :votos1,  :value=>"0"%>
		<%= builder.text_field :votos2,  :value=>"0"%>
		<%= builder.text_field :votos3,  :value=>"0"%>
		<%= builder.text_field :votos4,  :value=>"0"%>
		<%= builder.text_field :votos5,  :value=>"0"%>
	<%end%>

	<%= f.submit 'Send' %> 
<%end%>